<div id="page_contents">
<%= render(:partial => "admin/navigation")%>
<div id="center"  class="column">
  <h2><%=translate("ADD_A_NEW_RSS_FEED")%></h2>
  <% form_for :rss_feed, @rss_feed, :url => { :action => "create"}, :html=>{:name=>'rss_feed_form',:id=>'edit_form'} do |f| %>
	<%= render :partial => 'form', :locals=>{:form=>f} %>
	<%= submit_tag 	translate('SAVE'), :id=>"saveButton", :style => "width:150px" %>	 
  <% end %>
</div>
</div>