<div id="page_contents">
<%= render(:partial => "admin/navigation")%>
<div id="center"  class="column">
<h2>Add a New Setting</h2>
 <% form_for :site_config, @site_config, :url => { :action => "create"} do |f| %>
    <%= render :partial => 'form', :locals=>{:form=>f} %>
    <%= submit_tag "Save", {:id=>"saveButton"} %>
  <% end %>
</div>
</div>