<div id="page_contents">
<%= render(:partial => "admin/navigation")%>
<div id="center"  class="column">
  <h2><%=translate("ADD_A_NEW_COLLECTION_GROUP")%></h2>
  <% form_for :collection_group, @collection_group, :url => { :action => "create"}, :html=>{:name=>'collection_group_form',:id=>'edit_form'} do |f| %>
    <%= render :partial => 'form', :locals=>{:form=>f} %>
    <%= submit_tag translate("SAVE"), {:id=>"saveButton"} %>
  <% end %>
</div>
</div>