<div id="page_contents">
<%= render(:partial => "admin/navigation")%>
<div id="center"  class="column">
  <h2 ><%=translate("EDIT_USER_HEADER")%></h2>
  	<% form_for :user, @user, :url => { :action => "update", :id=>@user}, :html=>{:name=>'user_form',:id=>"edit_form"}  do |f| %>
		<%= render :partial => 'form', :locals=>{:form=>f}  %>  
		<%= submit_tag translate("SAVE"), {:id=>"saveButton"} %>
	<% end %>
  </div>       
</div>
